<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="dee648d5-1886-419e-b105-153fdb3932c5"
    Version="1.0.0.0"
    Publisher="CN=Timo" />

  <Properties>
    <DisplayName>MetroPresentation</DisplayName>
    <Description>MetroPresentation</Description>
    <PublisherDisplayName>Timo</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="MetroPresentation"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="MetroPresentation"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
